@model _2380600637_TruongVietHiep_Buoi4.Models.CongViec

@{
    ViewData["Title"] = "Xoá công việc";
}

<div class="container mt-4">
    <h2>Xoá công việc</h2>
    <hr />
    
    <h3>Bạn có chắc chắn muốn xoá công việc này?</h3>
    <div>
        <dl class="row">
            <dt class="col-sm-3">
                Mã công việc
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-3">
                Tên công việc
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.TenCongViec)
            </dd>
            <dt class="col-sm-3">
                Trạng thái hoàn thành
            </dt>
            <dd class="col-sm-9">
                <input type="checkbox" disabled="disabled" @(Model.TrangThaiHoanThanh ? "checked" : "") />
            </dd>
        </dl>
        
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Xoá" class="btn btn-danger mt-2 mb-3" /> |
            <a asp-action="Index">Quay trở lại</a>
        </form>
    </div>
</div>
