@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var sv = ViewBag.SV;
}

<h2>Kết quả đăng ký</h2>

<p>
    Cảm ơn bạn @sv.MSSV - @sv.HoTen đã đăng ký chuyên ngành @sv.ChuyenNganh
</p>

<p>
    Số lượng SV đã đăng ký ngành giống bạn là: @ViewBag.SoLuong
</p>

<a asp-action="Index">Quay lại</a>
